[submodule "src/numpy"]
	path = refs/numpy
	url = https://github.com/numpy/numpy.git
[submodule "src/pocketfft"]
	path = refs/pocketfft
	url = https://github.com/mreineck/pocketfft.git
[submodule "src/OpenBLAS"]
	path = refs/OpenBLAS
	url = https://github.com/OpenMathLib/OpenBLAS.git
[submodule "refs/onnxruntime"]
	path = refs/onnxruntime
	url = https://github.com/microsoft/onnxruntime.git
[submodule "refs/onnxruntime-inference-examples"]
	path = refs/onnxruntime-inference-examples
	url = https://github.com/microsoft/onnxruntime-inference-examples.git
